extends layout

block content
  p #{device_id}
  form(method="post", action="#{action}")
    | !{deviceform.toHTML()}
    input.btn(type="submit")

  - if(device && device.streams)
    for stream in device.streams
      .alert.load-html(data-stream="#{stream._id}")

    .alert.load-html(data-stream="new")      
      

block append footer-scripts
  script
    loadStreamHtml();

    