extends layout

block content
  if device_id
    form(method="post", action=".")
  else
    form(method="post", action="./new")
    
      | !{deviceform.toHTML()}
      input.btn(type="submit")

    - if(device && device.datastreams)
      for stream in device.datastreams
        .alert.load-html(data-stream="#{stream._id}")

block append footer-scripts
  script
    loadStreamHtml();

    