extends ../layout

block content
  form(method="post", action=".")
    dl.dl-horizontal
      for field in deviceform.visible
        dt=field.title
        dd!=field.render()
    for field in deviceform.hidden
      !{field.render()}
    input.btn(type="submit")
