extends ../layout

block content
  form(method="post", action=".")
    dl.dl-horizontal
      for field in tagform.visible
        dt=field.title
        dd!=field.render()
    for field in tagform.hidden
      !{field.render()}
    input.btn(type="submit")
