script(src="/assets/datatables/media/js/jquery.dataTables.min.js")
script(src="/assets/datatables/extras/ColReorder/media/js/ColReorder.min.js")
script(src="/assets/datatables/extras/ColVis/media/js/ColVis.min.js")
script(src="/assets/datatables/extras/Scroller/media/js/dataTables.scroller.min.js")
script(src="/assets/datatables/dt_bootstrap.js")
script(src="/assets/datatables/dt_plugins.js")