link(rel='stylesheet', href='/assets/datatables/media/css/jquery.dataTables.css')
link(rel='stylesheet', href='/assets/datatables/extras/ColReorder/media/css/ColReorder.css')
link(rel='stylesheet', href='/assets/datatables/extras/ColVis/media/css/ColVis.css')
link(rel='stylesheet', href='/assets/datatables/extras/Scroller/media/css/dataTables.scroller.css')
link(rel='stylesheet', href='/assets/datatables/dt_bootstrap.css') 